<%- include('partials/header', { title: 'About - EDU LMS' }) %>
<%- include('partials/navigation') %>
<div class="container py-5">
  <h1>About EDU LMS</h1>
  <p>EDU LMS is a modern learning platform for students, teachers, and administrators.</p>
</div>
<%- include('partials/footer') %>


