<%- include('partials/header', { title: 'Contact - EDU LMS' }) %>
<%- include('partials/navigation') %>
<div class="container py-5">
  <h1>Contact Us</h1>
  <p>Email: support@edulms.com</p>
  <p>Phone: +254 116 309194</p>
</div>
<%- include('partials/footer') %>


