<%- include('partials/header', { title: 'Schedule - EDU LMS' }) %>
<%- include('partials/navigation') %>
<div class="container py-5">
  <h1>Schedule</h1>
  <p>Your class and assignment schedule will appear here.</p>
</div>
<%- include('partials/footer') %>


